.resetPassword {
    background-color: gray;
    height: 100vh;

}
.resetPassword__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: gainsboro;

}

.resetPassword form input {
    padding: 10px;
    border: none;
    background-color: whitesmoke;
    outline: none;
    margin: 0 10px;
  }
  
  .resetPassword form input:active {
    background-color: gray;
  }
  
  .resetPassword form button {
      padding: 10px;
      border: none;
      outline: none;
      cursor: pointer;
  }
  
  .resetPassword form button:hover {
      background-color: gray;
      color: white;
  }
  