.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}


.login__container {
    text-align: center;
    background-color: whitesmoke;
    padding: 30px 50px;
    border-radius: 10px;
}

.login__form input {
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: gainsboro;
    width: 300px;
}

.login__form input:active {
background-color: gray;
}

.login__container button {
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: gainsboro;
    margin: 10px 0;
    border-radius: 10px;
}

.login__container button:hover {
    background-color: gray;
    color: white;
}

.login a{
    text-decoration: none;
    color: blueviolet;
}