.forgotPassword {
  background-color: gray;
  height: 100vh;
}
.forgotPassword__container {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

.forgotPassword form input {
  padding: 10px;
  border: none;
  background-color: whitesmoke;
  outline: none;
  margin: 0 10px;
}

.forgotPassword form input:active {
  background-color: gray;
}

.forgotPassword form button {
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.forgotPassword form button:hover {
    background-color: gray;
    color: white;
}
